* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #ffffff;
  --text-btn: #ffffff;
  --text-search: #000000;
  --btn-color: #fd6a02;
  --text-color: #fd6a02;
}
body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}
.dark-theme {
  --bg-color: #000000;
  --text-btn: #000000;
  --text-search: #ffffff;
  --btn-color: #fd6a02;
  --text-color: #fd6a02;
}
.container {
  margin: auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
header {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 20px 0;
  background-color: var(--bg-color);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo a {
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);
}
header .container .icon img {
  width: 37px;
  cursor: pointer;
}
.search {
  padding: 50px 0;
}
.search .container {
  display: flex;
  gap: 20px;
}
.search .container .input-search {
  flex-grow: 9;
  padding: 12px;
  outline: none;
  font-size: 15px;
  border-radius: 3px 13px;
  color: var(--text-search);
  background-color: var(--bg-color);
  border: 1px solid var(--btn-color);
}
.search .container .button-search {
  border: none;
  flex-grow: 1;
  padding: 5px;
  font-size: 17px;
  cursor: pointer;
  color: var(--text-btn);
  border-radius: 3px 13px;
  transition: all 0.2s ease-in-out;
  background-color: var(--btn-color);
}